@model Avtobus1.DAL.Entities.Url

<h2>Добавить </h2>

<form asp-action="Create" method="post">
    <div class="form-group row">
        <label asp-for="LongUrl" class="col-sm-2 col-form-label">Ссылка</label>
        <div class="form-group col-md-2">
            <input asp-for="LongUrl" class="form-control" required />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
